Package: com.anthopak.quickprefs
Name: QuickPrefs
Depends: mobilesubstrate
Version: 1.3.3
Architecture: iphoneos-arm
Description: Quickly access tweak prefs with Force/Haptic Touch
 Quickly access tweak prefs with Force/Haptic Touch
 增加简体中文显示，
 增加支持第三方url scheme。
 增加注销菜单功能。
Maintainer: AnthoPak, whoami
Author: AnthoPak, whoami
Section: Tweaks
