Package: com.anthopak.quickprefs
Name: QuickPrefs
Depends: mobilesubstrate
Version: 1.3.3
Architecture: iphoneos-arm
Description: Quickly access settings prefs from 3D Touch Menu
Maintainer: AnthoPak <anthopakdev@gmail.com>
Author: AnthoPak <anthopakdev@gmail.com>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/QuickPrefsPrefs.bundle/icon@2x.png
