<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>ENABLED_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>enabled</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ITEMS_NAMES</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>ITEMS_NAMES_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 1</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>		
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item1</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 2</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item2</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 3</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>		
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item3</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 4</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item4</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 5</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item5</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 6</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item6</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 7</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item7</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 8</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item8</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 9</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item9</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 10</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item10</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 11</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item11</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 12</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item12</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MISCELLANEOUS</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>MISCELLANEOUS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Show items above stock ones</string>
			<key>key</key>
			<string>quickPrefsItemsAboveStockItems</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Remove stock items</string>
			<key>key</key>
			<string>removeStockItems</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Reverse items order</string>
			<key>key</key>
			<string>reverseItemsOrder</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>EXAMPLES_AND_CUSTOM_URLS</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>EXAMPLES_AND_CUSTOM_URLS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Path Finder enabled (read below)</string>
			<key>key</key>
			<string>pathFinderEnabled</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>QUICK_PREFS_VIDEO</string>
			<key>subtitle</key>
			<string>QUICK_PREFS_VIDEO_SUBTITLE</string>
			<key>url</key>
			<string>https://youtu.be/m5N07b2_Hxs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>SETTINGS_URLS_SPREADSHEET</string>
			<key>subtitle</key>
			<string>SETTINGS_URLS_SPREADSHEET_SUBTITLE</string>
			<key>url</key>
			<string>https://bit.ly/iOSPreferencesUrlsSpreadsheet</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>My other tweaks</string>
			<key>footerText</key>
			<string>Check out my other tweaks!</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Appaze 2</string>
			<key>subtitle</key>
			<string>Customize volume/brightness/toggles per app, directly from 3DTouch menu</string>
			<key>icon</key>
    		<string>otherTweaks/appaze@2x.png</string>
			<key>url</key>
			<string>http://bit.ly/Appaze2Cross</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>LastLook</string>
			<key>subtitle</key>
			<string>Get a last look at your phone! (AOD and Short modes)</string>
			<key>icon</key>
    		<string>otherTweaks/lastLook@2x.png</string>
			<key>url</key>
			<string>http://bit.ly/LastLookCross</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Sleepizy</string>
			<key>subtitle</key>
			<string>Fall asleep in music! Set a timer to stop your music directly from CC</string>
			<key>icon</key>
    		<string>otherTweaks/sleepizy@2x.png</string>
			<key>url</key>
			<string>http://bit.ly/SleepizyCross</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>BlueFinder</string>
			<key>subtitle</key>
			<string>Find your iPhone using your Bluetooth devices!</string>
			<key>icon</key>
    		<string>otherTweaks/blueFinder@2x.png</string>
			<key>url</key>
			<string>http://bit.ly/BlueFinderCross</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>SwitchShades</string>
			<key>subtitle</key>
			<string>Bring color to your app switcher based on app icon</string>
			<key>icon</key>
    		<string>otherTweaks/switchShades@2x.png</string>
			<key>url</key>
			<string>http://bit.ly/SwitchShadesCross</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>VideoSwipes</string>
			<key>subtitle</key>
			<string>Swipe gestures for video players (native, YouTube, Facebook)</string>
			<key>icon</key>
    		<string>otherTweaks/videoSwipes@2x.png</string>
			<key>url</key>
			<string>http://bit.ly/VideoSwipesCrossAPRepo</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>PanCake</string>
			<key>subtitle</key>
			<string>Interactive dismiss gesture on whole screen in all apps</string>
			<key>icon</key>
    		<string>otherTweaks/panCake@2x.png</string>
			<key>url</key>
			<string>http://bit.ly/PanCakeCrossAPRepo</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>AddToFolder</string>
			<key>subtitle</key>
			<string>Easily move apps to your folders</string>
			<key>icon</key>
    		<string>otherTweaks/addToFolder@2x.png</string>
			<key>url</key>
			<string>http://bit.ly/AddToFolderCross</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>NotiVibe</string>
			<key>subtitle</key>
			<string>Know if you have a notification without looking at your phone!</string>
			<key>icon</key>
    		<string>otherTweaks/notiVibe@2x.png</string>
			<key>url</key>
			<string>http://bit.ly/NotiVibeCrossAPRepo</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>VERSION_NUMBER</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>AnthoPak</string>
			<key>user</key>
			<string>AnthoPak</string>
			<key>iconURL</key>
			<string>https://anthopak.dev/files/AnthoPak_profile_picture.png</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE</string>
			<key>subtitle</key>
			<string>SUPPORT_ME</string>
			<key>url</key>
			<string>https://bit.ly/AnthoPakDonate</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GITHUB</string>
			<key>subtitle</key>
			<string>CHECK_THE_CODE</string>
			<key>url</key>
			<string>https://github.com/AnthoPakPak/QuickPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>QuickPrefs</string>
</dict>
</plist>
