<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>icon</key>
			<string>header.png</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>ENABLED_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>enabled</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ITEMS_NAMES</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>ITEMS_NAMES_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 1</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>		
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item1</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 2</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item2</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 3</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>		
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item3</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 4</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item4</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 5</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item5</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 6</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item6</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 7</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item7</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Item 8</string>
			<key>placeholder</key>
			<string>TWEAK_NAME</string>
			<key>autoCaps</key>
			<string>words</string>
			<key>key</key>
			<string>item8</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
 		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MISCELLANEOUS</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>MISCELLANEOUS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Show items above stock ones</string>
			<key>key</key>
			<string>quickPrefsItemsAboveStockItems</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.anthopak.quickprefs</string>
			<key>label</key>
			<string>Remove stock items</string>
			<key>key</key>
			<string>removeStockItems</string>
			<key>PostNotification</key>
			<string>com.anthopak.quickprefs/ReloadPrefs</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>EXAMPLES_AND_CUSTOM_URLS</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>EXAMPLES_AND_CUSTOM_URLS_FOOTER</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>SETTINGS_URLS_SPREADSHEET</string>
			<key>subtitle</key>
			<string>SETTINGS_URLS_SPREADSHEET_SUBTITLE</string>
			<key>url</key>
			<string>https://bit.ly/iOSPreferencesUrlsSpreadsheet</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>VERSION_NUMBER</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>AnthoPak</string>
			<key>user</key>
			<string>AnthoPak</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE</string>
			<key>subtitle</key>
			<string>SUPPORT_ME</string>
			<key>url</key>
			<string>https://bit.ly/AnthoPakDonate</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GITHUB</string>
			<key>subtitle</key>
			<string>CHECK_THE_CODE</string>
			<key>url</key>
			<string>https://github.com/AnthoPakPak/QuickPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>QuickPrefs</string>
</dict>
</plist>
